




body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#profile-img img {
    align-items: flex-end;
    justify-content: flex-end;
    width: 575px;   
    height: 500px;
    
    border-radius: 10%;
    display: block;
    margin: 0 auto;
}

#social-media img {
    width: 35px;   
    height: 25px;
    margin: 0 5px;
    transition: transform 0.3s;
}