body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

#Social-Media img {
    width: 35px;   
    height: 25px;
    margin: 0 5px;
    transition: transform 0.3s; 
    align-content: flex-end;
    justify-content: flex-end;
}

#container-gif {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
}